#exp {
    text-align: center;
    margin: 0 auto;
    color: white;
    width: 50%;
    margin: 0 25% 0 25%;
}

#iframeexp {
    border:none;
    margin: 0 auto;
}

table {
    text-align: center;
    color:teal;
}

table {
padding: 25px;
}

table td {
    border: 1px solid rgba(255, 255, 255, 0.096);
}